NODE_ENV=development
PORT=8002
DATABASE_URL=postgresql://postgres:postgres@book123@postgres:5432/medibook_appointment
REDIS_URL=redis://redis:6379
NOTIFICATION_CHANNEL=appointment_events
LOG_LEVEL=info
API_GATEWAY_URL=http://gateway:8000
